.banner_big{
  position: relative;
}
.banner_box{
  overflow: hidden;
}
.banner_con{
  height: 560px;
  position: relative;
  left: 50%;
  top: 0;
  margin-left: -1000px;
}
.banner_con a{
  display: none;
  width: 100%;
  height: 560px;
  /*float: left;*/
  position: absolute;
  left: 0;
  top: 0;
}

.banner_bar{
  width: 78px;
  height: 16px;
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -39px;
  z-index: 10;
}
.banner_bar span{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e5e5e5;
  margin: 0 5px;
  cursor: pointer;
}
.banner_big .banner_bar span.on{
  background-color: #1ab4c3;
}
.banner_big:hover .bar_l,.banner_big:hover .bar_r{
  display: inline-block;
}
.bar_l, .bar_r{
  display: none;
  padding: 30px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
.bar_l:hover,.bar_r:hover{
  background-color: rgba(0, 0, 0, 0.6);
}
.bar_l{
  position: absolute;
  left: 30px;
  top: 230px;
  font-size: 24px;
  color: #ededed;
}
.bar_r{
  position: absolute;
  right: 30px;
  top: 230px;
  font-size: 24px;
  color: #ededed;
}


.examination{
  width: 100%;
  height: 287px;
  border-bottom: 1px solid #e7eaef;
}
.examination_con{
  position: relative;
  height: 100%;
}
.examination .examination_img{
  position: absolute;
  bottom: 0;
  left: 10px;
}
.examination .examination_text{
  width: 610px;
  position: absolute;
  right: 0;
  bottom: 20px;
}
.examination_text a{
  display: inline-block;
  width: 90px;
  height: 28px;
  color: #fff;
  font-size: 14px;
  background-color: #1ab4c3;
  text-align: center;
  line-height: 28px;
  margin-top: 10px;
}

.label{
  font-size: 32px;
  font-family: '方正兰亭细黑_GBK';
  color: #1ab4c3;
}
.label .label_span{
  margin-left: 15px;
}
.label_span{
  font-size: 16px;
  font-family: 'Helvetica';
  text-transform: uppercase;
  color: #d9d9d9;
}

.overseas{
  height: 450px;
  padding-top: 80px;
}
.overseas .label, .Housekeeper .label{
  text-align: center;
  /*margin-top: 78px;*/
}
 .overseas span, .Housekeeper span{
   display: block;
   text-align: center;
 }
.overseas .dl_box{
  margin-top: 56px;
}
.overseas dl{
  width: 216px;
  color: #2e2e2e;
  float: left;
  margin: 0 58px;
}
.overseas dt{
  width: 168px;
  height: 168px;
  overflow: hidden;
  padding-left: 23px;
}
.overseas dd a{
  font-size: 18px;
  color: #2e2e2e;
  width: 216px;
  display: inline-block;
  text-align: center;
  padding: 16px 0 6px 0;
}
.overseas p{
  font-size: 12px;
  line-height: 18px;
  color: #666;
}


.Housekeeper{
  width: 100%;
  height: 600px;
  background-color: #f0f3f6;
  padding-top: 70px;
}
.Housekeeper_imgBox{
 margin-top: 60px;
}

.vip{
  width: 100%;
  height: 461px;
}
.vip_con{
  position: relative;
  height: 100%;
}
.vip .vip_img{
  position: absolute;
  right: 0;
  bottom: 0;
}
.vip_text{
  width:518px;
  position: absolute;
  left: 80px;
  bottom: 160px;
}
.vip_text p, .examination_text p{
  font-family: '微软雅黑';
  font-size: 14px;
  color: #888;
  line-height: 26px;
  margin-top: 10px;
}

.rightBox{
  z-index: 20;
  position: fixed;
  right: 14px;
  bottom: 80px;
}
.rightBox button{
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  right: 0;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  outline: none;
}
.rightBox button .gzh{
  position: absolute;
  right: 45px;
  display: none;
}
.rightBox .btn1{
  bottom: 195px;
}
.rightBox .btn2{
  bottom: 140px;
}
.rightBox .btn3{
  bottom: 95px;
}
.rightBox .btn4{
  bottom: 50px;
}
.rightBox .btn5{
  bottom: 5px;
}
.btn1 .gzh{
  bottom: 45px;
}
.btn2 .gzh{
  bottom: 45px;
}
.btn1 .gzh{
  bottom: -100px;
}
.btn2 .gzh,
.btn3 .gzh,
.btn4 .gzh{
  bottom: -90px;
}

.btn1:hover .gzh,
.btn2:hover .gzh,
.btn3:hover .gzh,
.btn4:hover .gzh{
  display: block;
}
